<!DOCTYPE html>
<html>
<head>
    <title>{{title}}</title>
    <meta charset="utf-8"/>

    <script src="/javascripts/lib/jquery/dist/jquery.js"></script>
    <script src="/javascripts/lib/bootstrap/dist/js/bootstrap.js"></script>
    <script src="/javascripts/lib/marked/lib/marked.js"></script>
    <script src="/javascripts/lib/bootstrap-datepicker/dist/js/bootstrap-datepicker.js"></script>
    <link rel='stylesheet' href='/javascripts/lib/bootstrap-datepicker/dist/css/bootstrap-datepicker.css' />
    <link rel='stylesheet' href='/javascripts/lib/bootstrap/dist/css/bootstrap.css' />
    <link rel='stylesheet' href='/javascripts/lib/github-markdown-css/github-markdown.css' />
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>

<div class="container">
    {{{body}}}
</div>
</body>
</html>
